*/.classpath
*/.deployables/*
*/.project
*/.settings/*
*/bin/*
*/build/*
core/lib
*/_build/*
*/target/*
*~
*.swp
.#*
#*
*.iml
*.ipr
*.iws
.idea
stm/ssrs/projects/SEMReports/SEMReports/bin/*
/home/sem-manager/stm/ssrs/projects/SEMReports/SEMReports/bin/Debug/*
stm/ssrs/stored_procs/*.orig
lib/tr.jar
stm/ssrs/projects/SemCubeProcessing/SemCubeProcessing/bin/*
TempStatsStore/
derby.log
stm/deploy/fabfile.pyc

build/
