p Your shopping lists

ul.shopping-list.list-unstyled.list-group
    for list in lists
        li.list-item.list-group-item(data-id=list.id)
            span= list.name
            span.pull-right: span.glyphicon.glyphicon-chevron-right
