form
    if isSelected
        .input-group
            select.form-control(type="text", name='list' placeholder="Choose a list")
                option(value='' disabled selected) Choose a list
                for list in lists
                    option(value=list.id)= list.name
            span.input-group-btn
                button.btn.btn-primary(type="submit") Add to list

    else
        .input-group
            input.form-control(type="text", name='name' placeholder="Add an item")
            span.input-group-btn
                button.btn.btn-primary(type="submit") Add item
