<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Jen List</title>
    <link rel="stylesheet" href="css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <style>
        .completed {
            text-decoration: line-through;
        }

        body{
            padding:60px 0px 0px 0px;
            z-index:0;
        }
    </style>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/list.js" />
</head>
<body>
<div th:include="nav :: nav"></div>
<div class="container">
    <form id="shoppingListForm">
        <div class="form-group">
            <label for="shoppingLists">Shopping List:</label>
            <select id="shoppingLists" class="form-control" name="listId">
                <option th:each="list : ${shoppingLists}"
                        th:attr="value=${list.id}"
                        th:text="${list.name}"
                        th:selected="(${list.id} == ${selectedList})"></option>
            </select>
        </div>
    </form>

    <table class="table table-striped table-hover">
        <thead>
        <tr><th class="sort"><a th:href="${nameSort}">Name</a></th><th class="sort"><a th:href="${categorySort}"> Category</a></th></tr>
        </thead>
        <tbody>
            <tr th:each="item : ${listItems}">
                <td>
                    <input type="checkbox" th:class="${item.completed}? 'completed'" th:attr="id=${item.id}" th:checked="(${item.completed} == true)" ></input>
                    <label th:attr="for=${item.id}" th:class="${item.completed}? 'completed'" th:text="${item.comments}? |${item.name} (${item.comments})| : ${item.name}"/>
                </td>
                <td th:text="${item.category}" th:class="${item.completed}? 'completed'"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>